html, body, canvas {
  background: linear-gradient(45deg, rgb(219, 0, 103), #f38ba8);
  color: #cdd6f4;
  font-family: sans-serif;
  overflow: hidden;

  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  background: #4c7181;
}

#crosshair {
  position: absolute;
  left: calc(50% - 7.5px);
  top: calc(50% - 7.5px);

  width: 15px;
  height: 15px;
}

#top {
  position: absolute;
  left: calc(50% - 6rem);
  top: 1rem;

  font-family: monospace;
  font-size: x-large;
  font-weight: bolder;
  user-select: none;
}
#top > * {
  display: inline-block;
  margin: 0;
}
#timer {
  border: 2px solid transparent;
  padding: .75rem;
  background: rgba(127, 132, 156, .8);
}
#redscore {
  color: #000;
  padding: .5rem;
  background: rgba(243, 139, 168, .8);
  border: 2px solid transparent;
}
#greenscore {
  color: #000;
  padding: .5rem;
  background: rgba(166, 227, 161, .8);
  border: 2px solid transparent;
}

#health {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 7.5rem;
  height: 1.5rem;

  background: #cdd6f4;
}
#health > span {
  display: block;
  background: #fab387;

  height: 100%;
}

#ammo {
  position: absolute;
  left: 1rem;
  bottom: 3rem;

  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
  user-select: none;
  color: #000;
}

dialog {
  background: #313244;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #cdd6f4;
}

#weaponpick .wrapper {
  display: grid;
  grid-template-columns: 5rem 5rem;
  grid-template-rows: 5rem 5rem;
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
}

button {
  background: #45475a;
  border: 1px solid #11111b;
  color: #cdd6f4;
  outline: none;
  cursor: pointer;

  border-radius: .5rem;
  transition-duration: 100ms;

}
button:focus-visible, button:hover {
  box-shadow: 0 0 .3rem #cdd6f4;
}

#promo {
  width: 100%;
  display: flex;
  justify-content: center;
}

#info .wrapper {
  display: flex;
  flex-direction: column;
}
#info h1 {
  color: #cdd6f4;
  margin-bottom: .25rem;
}
#info-rank {
  color: #cdd6f4;
  margin-bottom: .1rem;
}
#info-progress {
  height: .2rem;
  background: #cdd6f4;
  margin-bottom: 1rem;
}
#info-progress > span {
  display: block;
  background: rgb(219, 0, 103);

  height: 100%;
}
#info button {
  padding: 1rem;
}
#info small {
  color: #a6adc8;
  margin-bottom: .3rem;
}
